<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Online Store</title>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link  href="css/login.css"rel="stylesheet" type="text/css" />
    
</head>

<body>
    <nav class="navbar sticky-topy" style="background-color: #e3f2fd;">
        
        <a type="button" class="btn btn-outline-secondary" href="/" id="home">Home</a>
        
        <div class="ml-auto">
                <a type="button" class="btn btn-outline-secondary" href="/logout">Logging out</a>
        </div>
        
        
        
    </nav>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center m-5">
            <h1 class="display-4"> Admin Page!!</h1>
        </div>
        <button class="btn btn-primary" onclick=location.href="/addGame">+ Add listing</button>
        </div>
      </div>
       
        <!--<div class='row'>-->
        <!--    <%if(!user){%>-->
        <!--        <h1 class='col-sm-12 nofound'>No user logged in!</h1>-->
        <!--    <%}-->
        <!--    else{%>-->
        <!--        <img class='col-sm-4 portrait' src=<%=author.portrait%> />-->
        <!--        <div claa='col-sm-4 info'>-->
        <!--            <h3><%=author.firstName%> <%=author.lastName%></h3>-->
        <!--            <div>Born: <%=author.dob%></div>-->
        <!--            <div>Death: <%=author.dod%></div>-->
        <!--            <div>Sex: <%=author.sex%></div>-->
        <!--            <div>Profession: <%=author.profession%></div>-->
        <!--            <div>Country: <%=author.country%></div>-->
        <!--            <div class='bio'><%=author.biography%></div>-->
        <!--        <a href='/author/<%=author.authorId%>'><h2>Quotes</h2></a>-->
        <!--        </div>-->
        <!--    <%}%>-->
        <!--</div>-->
       
    </div>

</body>

</html>