<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Online Store</title>

    <!-- Bootstrap core JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
      integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="css/admin.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <nav class="navbar sticky-topy" style="background-color: #e3f2fd;">
      <a type="button" class="btn btn-outline-secondary" href="/" id="home"
        >Home</a
      >
      <div class="ml-auto">
        <a type="button" class="btn btn-outline-secondary" href="/logout"
          >Logging out</a
        >
      </div>
    </nav>
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-center m-5" id="header">
        <h1 class="display-4">Your games</h1>
      </div>
      <% if (typeof(message) != "undefined") { %> <% if (message.success) { %>
      <div class="alert alert-success" role="alert">
        <%= message.text %>
      </div>
      <% } else { %>
      <div class="alert alert-danger" role="alert">
        <%= message.text %>
      </div>
      <% } %> <% } %>
      <a class="btn btn-success" href="/addGame">
        + Add listing
      </a>
      <div class="container-fluid">
        <div class="row">
          <% games.forEach(function(game) { %>
          <div class="col-6 col-md-4 col-lg-4 mb-4">
            <div class="card" style="width: 100%;">
              <img
                class="card-img-top"
                src="<%= game.image_url %>"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title"><%= game.title %></h5>
                <p class="card-text">$<%= game.price %></p>
                <div class="btn-group" role="group">
                  <a
                    class="btn btn-primary"
                    href="/game/<%=game.listing_id%>/edit"
                    >Edit</a
                  >
                  <a
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this item?');"
                    href="/game/<%=game.listing_id%>/delete"
                    >Delete!</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
